table, th, td{
    border: 1px solid black;
    


}
table{
    width: 100%;
    background-color: rgb(231, 233, 141);
}
th, td {
    padding: 10px;
}
th{
    text-align: center;
}
.tablaBarra{
    align-content: center;
    
}
